/* GENERAL */

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: rgb(105, 105, 105);
}

section {
    display: table;
    margin: 24px 0;
    width: 100%;
}

main {
    margin: 0 auto;
    max-width: 768px;
    padding: 20px;
    position: relative; /* for modal positioning */
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    margin: 1em auto;
}

h1+p,
h2+p,
h3+p,
h4+p,
h5+p,
h6+p {
    margin-top: 0.8em;
}

h1 {
    text-transform: uppercase;
}

h2 {
    color: rgb(45, 156, 177);
    line-height: 1.33;
    font-size: 24px;
    font-size: 1.6rem;
    margin: 0 auto;
}

img {
    border: 0;
}


/* SITE HEADER */

.logo {
    line-height: 1;
    margin: 1.25rem .75rem 2.5rem;
    text-align: center;
}

.logo img {
    display: block;
    height: 60px;
    margin: 0 auto;
}


/* BREADCRUMBS */

.breadcrumbs {
    display: table;
    list-style: none;
    padding: 0;
    width: 100%;
}

.breadcrumb {
    cursor: default;
    display: table-cell;
    padding: 0;
    text-align: center;
    text-indent: 0;
    vertical-align: bottom;
}

.breadcrumb.active .breadcrumb-text {
    color: rgb(45, 156, 177);
}

.breadcrumb-text {
    color: inherit;
    display: block;
    font-size: 15px;
    font-size: 1rem;
    font-weight: 300;
    padding: 0 0.5em 1.6em;
    position: relative;
    text-decoration: none;
    user-select: none;
}

.breadcrumb-text:before {
    background: rgb(220, 225, 225);
}

.breadcrumb-text:after {
    background: rgb(45, 156, 177);
}

.breadcrumb-text:after,
.breadcrumb-text:before {
    bottom: 0;
    content: ' ';
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%;
}

.breadcrumb.active ~ .breadcrumb .breadcrumb-text {
    color: rgb(175, 185, 190);
    transition: color 260ms ease-out;
}

.breadcrumb.active ~ .breadcrumb .breadcrumb-text:after {
    background: rgb(220, 225, 225);
    width: 0;
}


/* ALERT */

.alert {
    background-color: rgb(240, 240, 240);
    display: none;
    font-size: 0.9rem;
    line-height: 1.4;
    margin: 0 0 32px;
    min-height: 78px;
    overflow: auto;
    padding: 30px 30px 30px 15px;
    transition: opacity 260ms ease-out,margin 260ms cubic-bezier(0, 0, 0, 1);
}

.alert.valid {
    border-left: 6px solid rgb(90, 240, 75);
    display: block;
}

.alert.invalid {
    border-left: 6px solid rgb(240, 85, 80);
    display: block;
}

.alert.pending {
    border-left: 6px solid rgb(240, 240, 80);
    display: block;
}

.alert img {
    float: left;
    margin-right: 15px;
}

.alert-message {
    margin-left: 62.5px; /* container padding + img width + img margin */
}


/* FORM / TAB BEHAVIOR / TAB NAV */

.button.submit[disabled],
.tab-header,
.tab:not(.tab0) {
    display: none;
}

input {
    border-color: rgb(175, 185, 190);
    line-height: normal;
}

input:focus {
    border-color: rgb(45, 156, 177);
    color: rgb(45, 156, 177);
}

input[type=date] {
    height: 36.47px;
}

input.invalid {
    border: 1px solid rgb(240, 85, 80);
}

label {
    color: rgb(120, 140, 145);
    font-size: 1rem;
    font-weight: 500;
}

input,
select,
textarea {
    appearance: none;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(175, 185, 190);
    border-radius: 0;
    box-shadow: none;
    color: rgb(175, 185, 190);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 300;
    outline: none;
    padding: 0.66em 0.9em;
    resize: none;
    text-shadow: none;
    transition: all 260ms ease-out;
    transform: translate3d(0, 0, 0);
    width: 100%;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    font-family: Roboto, sans-serif;
    margin: 0;
}

input:placeholder-shown,
textarea:placeholder-shown {
    color: rgb(175, 185, 190);
    opacity: 1;
}

label+input,
label+textarea,
label+select {
    margin-top: 0.22em;
}

.half {
    width: 50%;
}

.third {
    width: 33.33%;
}

.half,
.third {
    display: inline-block;
    margin-right: -4px; /* this helps the elements fit on 1 line */
}

.half:first-child,
.third:first-child {
    padding-left: 0;
}

.half:not(first-child):not(last-child),
.third:not(first-child):not(last-child) {
    padding-left: 8px;
    padding-right: 8px;
}

.half:last-child,
.third:last-child {
    padding-right: 0;
}

.group {
    margin-top: 16px;
    width: 100%;
}

.button {
    appearance: none;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(45, 156, 177);
    border-radius: 0;
    color: rgb(45, 156, 177);
    cursor: pointer;
    display: block;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.33;
    padding: 0.55em 1em;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    transition: all 260ms ease-out;
    width: 100%;
}

.submit,
.submit:focus,
.next {
    background: rgb(45, 156, 177);
    color: rgb(255, 255, 255);
}

.submit:focus {
    outline-style: auto;
    outline-width: 5px;
}

.button[disabled] {
    appearance: none;
    background: rgb(45, 156, 177);
    border: 1px solid rgb(45, 156, 177);
    border-radius: 0;
    color: rgb(255, 255, 255);
    cursor: default;
    display: block;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.33;
    opacity: .5;
    overflow: visible;
    padding: 0.55556em 1em;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    transition: all 260ms ease-out;
    transform: translate3d(0, 0, 0);
    width: 100%;
}


/* SELFIE TAB */

.selfie-upload {
    display: none;
}


/* W9 MODAL */

ol {
    padding: 0 0 0 1em;
}

ol li {
    margin: 0;
    padding: 0 0 0.4em 1em;
}

.modal {
    background: rgb(255, 255, 255);
    display: none;
    left: 0;
    margin: 30px auto 30px;
    max-width: 640px;
    padding: 30px 65px 50px;
    position: absolute;
    right: 0;
    width: 85%;
    z-index: 1;
}

.modal strong {
    color: rgb(120, 140, 145);
    display: block;
    margin: 32.5px auto 20px;
    text-align: center;
}

.modal p {
    line-height: 1.5;
}


/* REVIEW TAB */

dl {
    border-top: 1px solid rgb(220, 225, 225);
    margin: 0 auto;
    padding: 24px 0 12px;
}

dl:last-of-type {
    border-bottom: 1px solid rgb(220, 225, 225);
}

dt {
    color: rgb(120, 140, 145);
}

dd {
    margin: 0.25em 0 1.6em;
}

dt {
    display: block;
}

dl,
dd {
    word-wrap: break-word;
}

.heading dt {
    display: inline-block;
    font-weight: 500;
    margin-bottom: 1.6em;
}

.heading dd {
    float: right;
}

.heading .edit {
    color: rgb(45, 156, 177);
    text-decoration: none;
}

.disclosures {
    font-weight: bold;
    margin: 1.5em auto;
    text-align: center;
}

@media only screen and (min-width: 568px) {
    dt {
        width: 13em;
    }

    .heading dd {
        float: none;
    }

    dd {
        margin-bottom: 0.8em;
    }

    dt,
    dd,
    .heading dt {
        display: inline-block;
    }
}